@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.carousel-fade .carousel-item {
    transition: opacity 3s ease-in-out !important;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
    transition: opacity 0.6s ease-in-out !important;
}


body{
    font-family: "Roboto", sans-serif;
    background-color: #e4f1f1;
    color: #737373;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(90deg, #005e60, #04898b);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.carousel-caption .carousel-title,
.carousel-caption p {
  opacity: 0; 
  transform: translateY(20px); 
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.carousel-item.active .carousel-caption .carousel-title {
  opacity: 1; 
  transform: translateY(0); 
  transition-delay: 0.3s; 
}

.carousel-item.active .carousel-caption p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}

.logo-brm-link {
    text-decoration: none;
}

.logo-brm{
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.carousel-transition{
  transition: transform 1s ease, opacity 1s ease;
}

header nav ul{
    list-style: none;           
    padding: 0px;
    margin: 20px auto;
}

header nav li{
  background: #005e60;
  color: #fff;
  border: none;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

header nav li:hover {
  background: #018f91;
}

header nav a{
    text-decoration: none;          
    color: #ffffff;                  
}
/* NAVBAR END */

main{
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
}

.card {
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.article-card {
    margin-bottom: 1.5rem;
    max-width: 740px; 
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
}

.area-konten{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.catalog-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.product-card{
    background: whitesmoke;
    border-radius: 12px;
    width: 100%; 
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0,0,0,0.6);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #2a2a2a;
}

.product-card h3 {
  color: #2a2a2a;
  margin: 15px 0 8px;
  font-weight: 600;
}

.product-card button {
  background: #005e60;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-card button:hover {
  background: #018f91;
}

footer{
    background: linear-gradient(90deg, #005e60, #04898b);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#carouselExampleCaptions .carousel-item {
  height: 600px;
  min-height: 500px;
  overflow: hidden;
}

#carouselExampleCaptions .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: white; 
}

.carousel-title{
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
